body {
  margin: 0;
  background-color: lightgray;
  text-align: center;
}

header {
  background-color: blue;
  padding: 10px;
}

h1 {
  color: white;
}

.menu-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: none;
}

.hide {
  display: none;
}

.menu a {
  padding: 15px;
  color: white;
  display: block;
  text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 4px solid white;
}

dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

dialog img {
  width: 600px;
  height: 90%;
  display: block;
  margin: 20vh auto;
}

.close-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 15px;
  color: black;
}

@media (min-width: 770px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1130px) {
  .menu-btn {
    display: none;
  }
  .menu {
    display: flex; 
    justify-content: center; 
  }
  .menu a {
    border: none;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
