.title{
    text-align: center;
}

h1{
    font-size: 75px;
    margin-bottom: -30px;
}

h2{
    font-size: 35px;
    color: blue;
    border-bottom: 1px solid gray;
    display: inline-block;
    padding-bottom: 5px;
}

.desc{
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.by{
    font-size: 20px;
    font-style: italic;
    margin-left: 300px;
}

li{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

img{
    max-width: 150px;
    margin-top: 30px;
    margin-left: 540px;
}