body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 600px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    color: blue;
    font-size: 20px;
}

hr {
    height: 3px;
    background-color: blue;
    width: 500px;
    margin-bottom: 30px;
}

img {
    width: 300px;
}

h2 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.list li {
    list-style-type: none;
    font-size: 18px;
    max-width: 400px;
    text-align: left;
    margin-left: 100px;
}